.menu {
	margin-left: 370px;
}
*{
    padding: 0;
    margin: 0;
}
img{
    max-width: 100%;
}
.banner{
    background-color: #f9f9ff;
}
.banner-text {
	margin-top: 160px;
}
.banner-text h3{
    font-size: 20px;
    font-weight: 500;
}
.banner-text h1{
   
    font-weight: 500;
}
.banner-text p{
   
    font-weight: 400;
}
.about-text {
	margin-left: 40px;
    text-align: justify;
}
.client-section{
    background-color: #8490ff;
    color: #fff;
    padding: 70px 0px;
 
}
.client-section h2{
  font-weight: 600;
  font-size: 40px;
}
.pricing-section {
	background-color: #f9f9ff;
	text-align: center;
	/* height: 900px; */
}
.pricing-heading h1 {
	font-weight: 500;
	font-size: 48px;
}
    .pricing-heading p{
  font-weight: 600;
  font-size: 18px;
  padding-top: 5px;
      
 }
 .card ul{
     list-style: none;
 }
 .for-circle{
     height: 120px;
     width: 120px;
     background-color: #f9f9ff;
     border-radius: 50%;
     line-height: 120px;
     font-weight: 500;
     font-size: 40px;
     margin-left: 15px;
 }
 .card-text h5{
     font-weight: 600;
 }

 .card-text p{
    font-weight: 500;
    font-size: 16px;
}
.card-list ul li{
    color: rgb(148, 148, 148);
    font-size: 20px;
    font-weight: 600;
}
.card-body.card-list {
	padding: 5px;
}
.pricing-table button{
    transition: .4s !important;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;

}
button:hover .buy{
    color: #fff !important;
}
.pricing-table{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px !important;
    cursor: pointer;

}

.card-img.text-left {
	margin-left: -24px;
	margin-top: 10px;
}
.card-title h3{
    font-weight: 600;
    font-size: 23px;
}
.contact-secion {
	background-color: #f9f9ff;
	/* padding: ; */

}

